@model IEnumerable<BS.DMO.Models.HelpDesk.BOARDS>
@{
    ViewData["Title"] = "Board";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Find your @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>

    <div class="card-body table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Board</th>
                    <th>Status</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BOARD_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IS_ACTIVE)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" asp-area="HelpDesk" asp-controller="Boards" asp-action="AddEditBoardGroup" asp-route-board="@item.ID"><i class="fa fa-plus"></i> Add Group</a>
                            <a class="btn btn-primary btn-xs" asp-area="HelpDesk" asp-controller="Boards" asp-action="MyBoard" asp-route-board="@item.ID"><i class="fa fa-eye"></i> Task List</a>
                            <a class="btn btn-primary btn-xs" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i> Edit</a>
                            <button type="button" class="btn btn-danger btn-xs delete-confirm" data-url="BankInfo/Delete/@item.ID"><i class="fa fa-trash"></i> Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>