@model IEnumerable<BS.DMO.ViewModels.Setup.LEAVE_CALENDAR_VM>
@{
    ViewData["Title"] = "Yearly Leave Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Find your @ViewData["Title"]</h3>
        <div class="card-tools">
            <span class="btn btn-xs btn-primary" data-toggle="modal" data-target="#PartialPopModal" data-url="@Url.Action("Create", "YearlyLeaveCalendar", new { area = "Setup" })" data-title="Create new @ViewData["Title"]" data-button="1">
                <i class="fas fa-plus"></i> Create New
            </span>
            @if(Model != null && Model.Count() > 0)
            {
                <a class="btn btn-primary btn-xs" asp-action="ProcessEmployeeYearlyLeaveCalendar" asp-route-fyID="@Model.First().FINANCIAL_YEAR_ID"><i class="fa fa-cogs"></i> Process Employee Leave Calendar</a>     
            }
        </div>
    </div>

    <div class="card-body">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Financial Year</th>
                    <th>Year No</th>
                    <th>Leave Type</th>
                    <th>No of Leave</th>
                    <th>Status</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.YEAR_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FINANCIAL_YEAR_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HOLIDAY_TYPE_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NO_OF_LEAVE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IS_ACTIVE)
                        </td>
                        <td>
                            @if (!string.IsNullOrWhiteSpace(item.ID))
                            {
                                <span class="btn btn-xs btn-primary" data-toggle="modal" data-target="#PartialPopModal" data-url="@Url.Action("Edit", "YearlyLeaveCalendar", new { area = "Setup", id = item.ID })" data-title="Edit @ViewData["Title"] - @item.YEAR_NAME" data-button="1">
                                    <i class="fas fa-edit"></i> Edit
                                </span>
                                <button type="button" class="btn btn-danger btn-xs delete-confirm" data-url="/Setup/YearlyLeaveCalendar/Delete/@item.ID"><i class="fa fa-trash"></i> Delete</button>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>