@model BS.DMO.Models.Inventory.ITEM_MASTER
@{
    ViewData["Title"] = "Item Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Add/Edit @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>
    <form asp-action="AddUpdate">
        <div class="card-body">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="ID" type="hidden" />
            <input asp-for="RowVersion" type="hidden" />
            <div class="row">
               <div class="col-md-2">
                    <label asp-for="ITEM_SUB_GROUP_ID" class="control-label"></label>
                    <select asp-for="ITEM_SUB_GROUP_ID" asp-items="@ViewBag.ITEM_SUB_GROUP_ID" class="form-control form-control-sm">
                    </select>
                    <span asp-validation-for="ITEM_SUB_GROUP_ID" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="ITEM_CLASS_ID" class="control-label"></label>
                    <select asp-for="ITEM_CLASS_ID" asp-items="@ViewBag.ITEM_CLASS_ID" class="form-control form-control-sm">
                    </select>
                    <span asp-validation-for="ITEM_CLASS_ID" class="text-danger"></span>
                </div>
               <div class="col-md-2">
                    <label asp-for="ITEM_CATEGORY_ID" class="control-label"></label>
                    <select asp-for="ITEM_CATEGORY_ID" asp-items="@ViewBag.ITEM_CATEGORY_ID" class="form-control form-control-sm">
                    </select>
                    <span asp-validation-for="ITEM_CATEGORY_ID" class="text-danger"></span>
                </div>
                 <div class="col-md-2">
                    <label asp-for="ITEM_TYPE_ID" class="control-label"></label>
                    <select asp-for="ITEM_TYPE_ID" asp-items="@ViewBag.ITEM_TYPE_ID" class="form-control form-control-sm">
                    </select>
                    <span asp-validation-for="ITEM_TYPE_ID" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="ITEM_STATUS_ID" class="control-label"></label>
                    <select asp-for="ITEM_STATUS_ID" asp-items="@ViewBag.ITEM_STATUS_ID" class="form-control form-control-sm">
                    </select>
                    <span asp-validation-for="ITEM_STATUS_ID" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="UNIT_CHILD_ID" class="control-label"></label>
                    <select asp-for="UNIT_CHILD_ID" asp-items="@ViewBag.UNIT_CHILD_ID" class="form-control form-control-sm">
                    </select>
                    <span asp-validation-for="UNIT_CHILD_ID" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <label asp-for="ITEM_NAME" class="control-label"></label>
                    <input asp-for="ITEM_NAME" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Item Name">
                    <span asp-validation-for="ITEM_NAME" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                    <label asp-for="WARRANTY_DAYS" class="control-label"></label>
                    <input asp-for="WARRANTY_DAYS" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Warranty (Days)">
                    <span asp-validation-for="WARRANTY_DAYS" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                    <label asp-for="EXPIRY_DAYS" class="control-label"></label>
                    <input asp-for="EXPIRY_DAYS" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Expiry (Days)">
                    <span asp-validation-for="EXPIRY_DAYS" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                    <label asp-for="IS_MAIN_ITEM" class="control-label"></label>
                    <input asp-for="IS_MAIN_ITEM" type="checkbox" class="form-control form-control-sm">
                    <span asp-validation-for="IS_MAIN_ITEM" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label asp-for="VAT_PCT" class="control-label"></label>
                    <input asp-for="VAT_PCT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="VAT %">
                    <span asp-validation-for="VAT_PCT" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="BASE_PRICE" class="control-label"></label>
                    <input asp-for="BASE_PRICE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Base Price">
                    <span asp-validation-for="BASE_PRICE" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label asp-for="ITEM_IMG" class="control-label"></label>
                    <input asp-for="ITEM_IMG" type="file" class="form-control form-control-sm" autocomplete="off" placeholder="Image">
                    <span asp-validation-for="ITEM_IMG" class="text-danger"></span>
                </div>
                <div class="col-md-5">
                    <label asp-for="SPECIAL_INSTRUCTION" class="control-label"></label>
                    <input asp-for="SPECIAL_INSTRUCTION" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Special Instruction">
                    <span asp-validation-for="SPECIAL_INSTRUCTION" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                    <label asp-for="IS_ACTIVE" class="control-label"></label>
                    <input asp-for="IS_ACTIVE" type="checkbox" class="form-control form-control-sm">
                    <span asp-validation-for="IS_ACTIVE" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-chevron-left"></i> Back</a>
            <button class="btn btn-sm btn-info" type="reset"><i class="fa fa-undo"></i> Reset</button>
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-save"></i> Submit</button>
            <button type="submit" name="submitButton" value="CopySave" class="btn btn-sm btn-warning"><i class="fa fa-copy"></i> Save as Copy</button>
        </div>
    </form>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}