@model BS.DMO.ViewModels.Inventory.ITEM_MASTER_IDX
@{
    ViewData["Title"] = "Item Master";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Find your @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>
    <form asp-action="Index">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <input asp-for="item_sub_group_name" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Sub Group Name">
                    <span asp-validation-for="item_sub_group_name" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <input asp-for="class_name" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Class Name">
                    <span asp-validation-for="class_name" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <input asp-for="category_name" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Category Name">
                    <span asp-validation-for="category_name" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <input asp-for="item_name" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Item Name">
                    <span asp-validation-for="item_name" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-success"><i class="fa fa-search"></i> Search</button>
        </div>
    </form>
    <div class="card-body table-responsive">
        <table id="example3" class="table table-hover table-xs">
            <thead>
                <tr>
                    <th>Sub Group</th>
                    <th>Class</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Status Desc</th>
                    <th>UOM</th>
                    <th>Name</th>
                    <th>Warranty (Days)</th>
                    <th>Expiry (Days)</th>
                    <th>Is Main Item</th>
                    <th>VAT %</th>
                    <th>Base Price</th>
                    <th>Image</th>
                    <th>Special Instruction</th>
                    <th>Status</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ITEM_MASTER_VM)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ITEM_SUB_GROUP_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CLASS_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CATEGORY_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TYPE_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.STATUS_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UNIT_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ITEM_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WARRANTY_DAYS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EXPIRY_DAYS)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IS_MAIN_ITEM)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VAT_PCT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BASE_PRICE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ITEM_IMG)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SPECIAL_INSTRUCTION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IS_ACTIVE)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-secondary btn-xs dropdown-toggle" data-toggle="dropdown">Action</button>
                                <ul class="dropdown-menu action-list">
                                    <li><a class="btn btn-primary btn-xs btn-block" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i> Edit</a></li>
                                    <li><button type="button" class="btn btn-danger btn-xs btn-block delete-confirm" data-url="BankInfo/Delete/@item.ID"><i class="fa fa-trash"></i> Delete</button></li>
                              </ul>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>