@model IEnumerable<BS.DMO.Models.Inventory.PRODUCT_CLASS>
@{
    ViewData["Title"] = "Product Class";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Find your @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>

    <div class="card-body table-responsive">
        <table class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Class Name</th>
                    <th>Description</th>
                    <th>Discount</th>
                    <th>Invoice Value</th>
                    <th>Discount Percent</th>
                    <th>Discount Value</th>
                    <th>Status</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CLASS_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CLASS_DESC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IS_DISCOUNT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.INVOICE_VALUE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DISCOUNT_PCT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DISCOUNT_VALUE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IS_ACTIVE)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" asp-area="Setup" asp-controller="Department" asp-action="Index" asp-route-id="@item.ID"><i class="fa fa-eye"></i> Branch</a>
                            <a class="btn btn-primary btn-xs" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i> Edit</a>
                            <button type="button" class="btn btn-danger btn-xs delete-confirm" data-url="ProductCategory/Delete/@item.ID"><i class="fa fa-trash"></i> Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>