@model IEnumerable<BS.Web.Controllers.PageNumberInfo>
@{
    ViewData["Title"] = "Page Number";
}
<div class="row">
    <div class="table-responsive">
        <table class="table table-sm table-bordered">
            <tr>
                <th>Area ID</th>
                <th>Area</th>
                <th>Controller ID</th>
                <th>Controller</th>
                <th>Action ID</th>
                <th>Action</th>
                <th>Page ID</th>
                <th>Page Info</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.AreaID</td>
                    <td>@item.Area</td>
                    <td>@item.ControllerID</td>
                    <td>@item.Controller</td>
                    <td>@item.ActionID</td>
                    <td>@item.Action</td>
                    <td><a asp-area="@item.Area" asp-controller="@item.Controller" asp-action="@item.Action" target="_blank">@item.PageID</a></td>
                    <td>@item.PageInfo</td>
                </tr>
            }
        </table>
    </div>
</div>