@model BS.DMO.ViewModels.SalesOrder.NEW_SB_VM
@{
    ViewData["Title"] = "Sales Booking";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form asp-action="AddUpdate" id="frm1" , method="post" enctype="multipart/form-data" onkeydown="return event.key != 'Enter';">
    <div id="accordion">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="SB_MASTER_VM.ID" type="hidden" />
        <input asp-for="SB_MASTER_VM.TRN_ID" type="hidden" />
        <input asp-for="SB_MASTER_VM.CONTACT_ID" type="hidden" />
        <input asp-for="SB_MASTER_VM.CONTACT_BILL_TO_ID" type="hidden" />
        <input asp-for="SB_MASTER_VM.DELIVERY_ADDRESS_ID" type="hidden" />
        <input asp-for="SB_MASTER_VM.FROM_USER_ID" type="hidden" />
        <input asp-for="SB_MASTER_VM.TO_USER_ID" type="hidden" />
        <input asp-for="SB_MASTER_VM.RowVersion" type="hidden" />
        <div class="card card-primary card-outline mb-1">
            <div class="card-header p-2 mb-1">
                <h4 class="card-title w-100">
                    <a class="d-block w-100 collapsed" data-toggle="collapse" href="#collapseOne" aria-expanded="false">
                        <i class="fas fa-cog"></i> Booking Process
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion" style="">
                <div class="card-body p-1">
                    <span class="fas fa-cog text-success"> Transaction</span>
                    <div class="row border pb-2">
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.TRN_SOURCE_ID" class="control-label"></label>
                            <select asp-for="SB_MASTER_VM.TRN_SOURCE_ID" asp-items="@ViewBag.TRN_SOURCE_ID" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="SB_MASTER_VM.TRN_SOURCE_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.TRN_TYPE_ID" class="control-label"></label>
                            <select asp-for="SB_MASTER_VM.TRN_TYPE_ID" asp-items="@ViewBag.TRN_TYPE_ID" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="SB_MASTER_VM.TRN_TYPE_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.TRN_NO" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.TRN_NO" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn No" readonly>
                            <span asp-validation-for="SB_MASTER_VM.TRN_NO" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.REF_TRN_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.REF_TRN_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Ref Trn No">
                            <span asp-validation-for="SB_MASTER_VM.REF_TRN_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.TRN_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.TRN_DATE" type="date" class="form-control form-control-sm" autocomplete="off" placeholder="Trn Date">
                            <span asp-validation-for="SB_MASTER_VM.TRN_DATE" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.TRN_NOTE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.TRN_NOTE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn Note">
                            <span asp-validation-for="SB_MASTER_VM.TRN_NOTE" class="text-danger"></span>
                        </div>
                    </div>
                    <span class="fas fa-home text-secondary"> Office</span>
                    <div class="row border mt-1 pb-2">
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER_VM.FROM_SUB_SECTION_ID" class="control-label"></label>
                            <select asp-for="SB_MASTER_VM.FROM_SUB_SECTION_ID" asp-items="@ViewBag.FROM_SUB_SECTION_ID" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="SB_MASTER_VM.FROM_SUB_SECTION_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER_VM.TO_SUB_SECTION_ID" class="control-label"></label>
                            <select asp-for="SB_MASTER_VM.TO_SUB_SECTION_ID" asp-items="@ViewBag.TO_SUB_SECTION_ID" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="SB_MASTER_VM.TO_SUB_SECTION_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER_VM.TO_USER_NAME" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.TO_USER_NAME" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Find To User">
                            <span asp-validation-for="SB_MASTER_VM.TO_USER_NAME" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.TRN_DOCUMENT" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.TRN_DOCUMENT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Document">
                            <span asp-validation-for="SB_MASTER_VM.TRN_DOCUMENT" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-info card-outline mb-1">
            <div class="card-header p-2 mb-1">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseTwo">
                        <i class="fas fa-hammer"></i>  Booking Information
                    </a>
                </h4>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body p-1">
                    <span class="fas fa-user text-info"> Customer</span>
                    <div class="row border pb-2">
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER_VM.CONTACT_NAME" class="control-label"></label>
                            <div class="input-group">
                                <input asp-for="SB_MASTER_VM.CONTACT_NAME" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Customer Name">
                                <div class="input-group-append" onclick="ShowContact();">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                            <span asp-validation-for="SB_MASTER_VM.CONTACT_NAME" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER_VM.CONTACT_BILL_TO_NAME" class="control-label"></label>
                            <div class="input-group">
                                <input asp-for="SB_MASTER_VM.CONTACT_BILL_TO_NAME" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Bill Address">
                                <div class="input-group-append" onclick="ShowContactBill();">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                            <span asp-validation-for="SB_MASTER_VM.CONTACT_BILL_TO_NAME" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER_VM.DELIVERY_ADDRESS" class="control-label"></label>
                            <div class="input-group">
                                <input asp-for="SB_MASTER_VM.DELIVERY_ADDRESS" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Delivery Address">
                                <div class="input-group-append" onclick="ShowAddress();">
                                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                                </div>
                            </div>
                            <span asp-validation-for="SB_MASTER_VM.DELIVERY_ADDRESS" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER_VM.CUSTOMER_REF_NO" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.CUSTOMER_REF_NO" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Customer Ref No">
                            <span asp-validation-for="SB_MASTER_VM.CUSTOMER_REF_NO" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER_VM.CUSTOMER_DOCUMENT" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.CUSTOMER_DOCUMENT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Customer Document">
                            <span asp-validation-for="SB_MASTER_VM.CUSTOMER_DOCUMENT" class="text-danger"></span>
                        </div>
                        <div class="col-md-3">
                            <label asp-for="SB_MASTER_VM.CONTACT_NOTE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.CONTACT_NOTE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Customer Note">
                            <span asp-validation-for="SB_MASTER_VM.CONTACT_NOTE" class="text-danger"></span>
                        </div>
                    </div>
                    <span class="fas fa-truck text-secondary"> Shipping</span>
                    <div class="row border mt-1 pb-2">
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.SHIPPING_MODE_ID" class="control-label"></label>
                            <select asp-for="SB_MASTER_VM.SHIPPING_MODE_ID" asp-items="@ViewBag.SHIPPING_MODE_ID" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="SB_MASTER_VM.SHIPPING_MODE_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.SHIPPING_TYPE_ID" class="control-label"></label>
                            <select asp-for="SB_MASTER_VM.SHIPPING_TYPE_ID" asp-items="@ViewBag.SHIPPING_TYPE_ID" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="SB_MASTER_VM.SHIPPING_TYPE_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER_VM.ALLOW_PARTIAL_DELIVERY" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.ALLOW_PARTIAL_DELIVERY" type="checkbox" class="form-control form-control-sm">
                            <span asp-validation-for="SB_MASTER_VM.ALLOW_PARTIAL_DELIVERY" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER_VM.REQUIRED_SAMPLE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.REQUIRED_SAMPLE" type="checkbox" class="form-control form-control-sm">
                            <span asp-validation-for="SB_MASTER_VM.REQUIRED_SAMPLE" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.LAST_SDD_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.LAST_SDD_DATE" type="text" class="form-control form-control-sm datepicker" autocomplete="off" placeholder="Last MFG Date">
                            <span asp-validation-for="SB_MASTER_VM.LAST_SDD_DATE" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.LAST_MFG_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.LAST_MFG_DATE" type="text" class="form-control form-control-sm datepicker" autocomplete="off" placeholder="Last MFG Date">
                            <span asp-validation-for="SB_MASTER_VM.LAST_MFG_DATE" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.LAST_DELIVERY_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.LAST_DELIVERY_DATE" type="text" class="form-control form-control-sm datepicker" autocomplete="off" placeholder="Last Delivery Date">
                            <span asp-validation-for="SB_MASTER_VM.LAST_DELIVERY_DATE" class="text-danger"></span>
                        </div>
                    </div>
                    <span class="fas fa-clock text-secondary"> Time and Action</span>
                    <div class="row border mt-1 pb-2">
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER_VM.SDD" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.SDD" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="FGD Days" readonly>
                            <span asp-validation-for="SB_MASTER_VM.SDD" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER_VM.FGD" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.FGD" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="FGD Days" readonly>
                            <span asp-validation-for="SB_MASTER_VM.FGD" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER_VM.LDD" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.LDD" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="LDD Days" readonly>
                            <span asp-validation-for="SB_MASTER_VM.LDD" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER_VM.TRN_VALID_DAYS" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.TRN_VALID_DAYS" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn Valid Days">
                            <span asp-validation-for="SB_MASTER_VM.TRN_VALID_DAYS" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-warning card-outline mb-1">
            <div class="card-header p-2 mb-1">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseThree">
                        <i class="fas fa-dollar-sign"></i> Booking Value
                    </a>
                </h4>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body p-1">
                    <div class="row">
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.TRN_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.TRN_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Trn Amount" readonly>
                            <span asp-validation-for="SB_MASTER_VM.TRN_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.CHARGE_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.CHARGE_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Charge Amount">
                            <span asp-validation-for="SB_MASTER_VM.CHARGE_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.DISCOUNT_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.DISCOUNT_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Discount Amount" readonly>
                            <span asp-validation-for="SB_MASTER_VM.DISCOUNT_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.ADD_DISCOUNT_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.ADD_DISCOUNT_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Additionl Discount Amount">
                            <span asp-validation-for="SB_MASTER_VM.ADD_DISCOUNT_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.VAT_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.VAT_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="VAT Amount" readonly>
                            <span asp-validation-for="SB_MASTER_VM.VAT_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.NET_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.NET_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Net Amount" readonly>
                            <span asp-validation-for="SB_MASTER_VM.NET_AMOUNT" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.ADVANCED_PAYMENT_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.ADVANCED_PAYMENT_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Advanced Payment">
                            <span asp-validation-for="SB_MASTER_VM.ADVANCED_PAYMENT_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.PAID_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.PAID_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Paid Amount" readonly>
                            <span asp-validation-for="SB_MASTER_VM.PAID_AMOUNT" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.DUE_AMOUNT" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.DUE_AMOUNT" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="due Amount" readonly>
                            <span asp-validation-for="SB_MASTER_VM.DUE_AMOUNT" class="text-danger"></span>
                        </div>

                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.PAYMENT_MODE" class="control-label"></label>
                            <select asp-for="SB_MASTER_VM.PAYMENT_MODE" asp-items="@ViewBag.PAYMENT_MODE" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="SB_MASTER_VM.PAYMENT_MODE" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.PAYMENT_METHOD" class="control-label"></label>
                            <select asp-for="SB_MASTER_VM.PAYMENT_METHOD" asp-items="@ViewBag.PAYMENT_METHOD" class="form-control form-control-sm">
                            </select>
                            <span asp-validation-for="SB_MASTER_VM.PAYMENT_METHOD" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.IS_PAID" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.IS_PAID" type="checkbox" class="form-control form-control-sm" disabled>
                            <span asp-validation-for="SB_MASTER_VM.IS_PAID" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-gray card-outline mb-1">
            <div class="card-header p-2 mb-1">
                <h4 class="card-title w-100">
                    <a class="d-block w-100" data-toggle="collapse" href="#collapseFour">
                        <i class="fas fa-check"></i> Booking Authorize
                    </a>
                </h4>
            </div>
            <div id="collapseFour" class="collapse" data-parent="#accordion">
                <div class="card-body p-1">
                    <div class="row">
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER_VM.IS_CANCELLED" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.IS_CANCELLED" type="checkbox" class="form-control form-control-sm" disabled>
                            <span asp-validation-for="SB_MASTER_VM.IS_CANCELLED" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER_VM.CANCELLED_USER_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.CANCELLED_USER_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Cancelled User Id" readonly>
                            <span asp-validation-for="SB_MASTER_VM.CANCELLED_USER_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.CANCELLED_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.CANCELLED_DATE" type="date" class="form-control form-control-sm" autocomplete="off" placeholder="Cancelled Date" readonly>
                            <span asp-validation-for="SB_MASTER_VM.CANCELLED_DATE" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.CANCELLED_NOTE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.CANCELLED_NOTE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Cancelled Note" readonly>
                            <span asp-validation-for="SB_MASTER_VM.CANCELLED_NOTE" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER_VM.IS_POSTED" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.IS_POSTED" type="checkbox" class="form-control form-control-sm @(Model.SB_MASTER_VM.IS_POSTED == true ? "disabled" : "")">
                            <span asp-validation-for="SB_MASTER_VM.IS_POSTED" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER_VM.POSTED_USER_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.POSTED_USER_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Posted User Id" readonly>
                            <span asp-validation-for="SB_MASTER_VM.POSTED_USER_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.POSTED_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.POSTED_DATE" type="date" class="form-control form-control-sm" autocomplete="off" placeholder="Posted Date" readonly>
                            <span asp-validation-for="SB_MASTER_VM.POSTED_DATE" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.POSTED_NOTE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.POSTED_NOTE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Posted Note" readonly>
                            <span asp-validation-for="SB_MASTER_VM.POSTED_NOTE" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-1">
                            @{
                                string isApprove = (Model.SB_MASTER_VM.IS_POSTED && Model.SB_MASTER_VM.IS_APPROVE) || (!Model.SB_MASTER_VM.IS_POSTED && !Model.SB_MASTER_VM.IS_APPROVE) ? "disabled" : "";
                            }
                            <label asp-for="SB_MASTER_VM.IS_APPROVE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.IS_APPROVE" type="checkbox" class="form-control form-control-sm @isApprove">
                            <span asp-validation-for="SB_MASTER_VM.IS_APPROVE" class="text-danger"></span>
                        </div>
                        <div class="col-md-1">
                            <label asp-for="SB_MASTER_VM.APPROVE_USER_ID" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.APPROVE_USER_ID" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Approve User Id" readonly>
                            <span asp-validation-for="SB_MASTER_VM.APPROVE_USER_ID" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.APPROVE_DATE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.APPROVE_DATE" type="date" class="form-control form-control-sm" autocomplete="off" placeholder="Approve Date" readonly>
                            <span asp-validation-for="SB_MASTER_VM.APPROVE_DATE" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="SB_MASTER_VM.APPROVE_NOTE" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.APPROVE_NOTE" type="text" class="form-control form-control-sm" autocomplete="off" placeholder="Approve Note" readonly>
                            <span asp-validation-for="SB_MASTER_VM.APPROVE_NOTE" class="text-danger"></span>
                        </div>
                        <div class="col-md-2">
                            <label asp-for="SB_MASTER_VM.NEXT_STEP" class="control-label"></label>
                            <input asp-for="SB_MASTER_VM.NEXT_STEP" type="checkbox" class="form-control form-control-sm" disabled>
                            <span asp-validation-for="SB_MASTER_VM.NEXT_STEP" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-indigo card-outline mb-1e">
        <div class="card-header p-2 mb-1">
            <h3 class="card-title"><i class="fas fa-tag"></i> Products</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
        <div class="card-body p-1 scrollable-table">
            <div class="row">
                <div class="col-md-2 mb-2">
                    <label asp-for="ITEM_SUB_GROUP_ID" class="control-label"></label>
                    <select asp-for="ITEM_SUB_GROUP_ID" asp-items="@ViewBag.ITEM_SUB_GROUP_ID" class="form-control form-control-sm" onchange="ItemSubGroupIdChange()">
                    </select>
                    <span asp-validation-for="ITEM_SUB_GROUP_ID" class="text-danger"></span>
                </div>
            </div>
            <table class="table table-xs table-bordered" ">
                <thead class="table-success">
                    <tr>
                        <th style="width:200px">Product Name</th>
                        <th style="width:250px">Description</th>
                        <th style="width:100px">Unit</th>
                        <th style="width:100px">Rate</th>
                        <th style="width:100px">Qty</th>
                        <th style="width:100px">VAT %</th>
                        <th style="width:100px">Discount %</th>
                        <th style="width:100px">Discount Amount</th>
                        <th style="width:100px">Product Amount</th>
                        <th style="width:100px">Weight</th>
                        <th style="width:100px">Ref/SKU</th>
                        <th style="width:100px">Line Note</th>
                        <th style="width:100px">Packing Note</th>
                        <th style="width:100px">Delivery Address</th>
                        <th style="width:50px">Delivery Date</th>
                        <th style="width:50px">Sample</th>
                        <th style="width:50px">#</th>
                    </tr>
                </thead>
                <tbody class="DATA_ENTRY table-warning">
                    <tr>
                        <td>
                            <input id="ID" name="SB_CHILD_VM.ID" type="hidden" class="clear" />
                            <input id="MASTER_ID" name="SB_CHILD_VM.MASTER_ID" type="hidden" class="clear" />
                            <input id="LINE_NO" name="SB_CHILD_VM.LINE_NO" type="hidden" value="0" class="" />
                            <input id="REF_TRN_LINE_ID" name="SB_CHILD_VM.REF_TRN_LINE_ID" type="hidden" class="clear" />
                            <input id="PRODUCT_ID" name="SB_CHILD_VM.PRODUCT_ID" type="hidden" class="clear" />
                            <input id="MAIN_PRODUCT_ID" name="SB_CHILD_VM.MAIN_PRODUCT_ID" type="hidden" class="clear" />
                            <input id="PACK_ID" name="SB_CHILD_VM.PACK_ID" type="hidden" class="clear" />
                            <input id="UNIT_ID" name="SB_CHILD_VM.UNIT_ID" type="hidden" class="clear" />
                            <input id="DELIVERY_ADDRESS_ID" name="SB_CHILD_VM.DELIVERY_ADDRESS_ID" type="hidden" class="clear" />
                            <input id="PRODUCT_NAME" name="SB_CHILD_VM.PRODUCT_NAME" type="text" class="custom-input custom-input-xs need clear" title="Product Name" placeholder="Name" autocomplete="off" />
                        </td>
                        <td>
                            <input id="PRODUCT_DESC" name="SB_CHILD_VM.PRODUCT_DESC" type="text" class="custom-input custom-input-xs need clear" title="Product Description" placeholder="Details" autocomplete="off" />
                        </td>
                        <td>
                            <input id="UNIT_NAME" name="SB_CHILD_VM.UNIT_NAME" type="text" class="custom-input custom-input-xs clear" title="Unit" placeholder="Unit" readonly />
                        </td>
                        <td>
                            <input id="PRODUCT_RATE" name="SB_CHILD_VM.PRODUCT_RATE" type="number" class="custom-input custom-input-xs clear" title="Rate" placeholder="Rate" autocomplete="off" />
                        </td>
                        <td>
                            <input id="PRODUCT_QTY" name="SB_CHILD_VM.PRODUCT_QTY" type="number" class="custom-input custom-input-xs need clear" title="Quantity" placeholder="Qty" autocomplete="off" />
                        </td>
                        <td>
                            <input id="VAT_PCT" name="SB_CHILD_VM.VAT_PCT" type="number" class="custom-input custom-input-xs" min="0" max="100" title="VAT %" placeholder="VAT %" autocomplete="off" value="0" />
                        </td>
                        <td>
                            <input id="DISCOUNT_PCT" name="SB_CHILD_VM.DISCOUNT_PCT" type="number" class="custom-input custom-input-xs" min="0" max="100" title="Discount %" placeholder="Discount %" autocomplete="off" value="0" />
                        </td>
                        <td>
                            <input id="DISCOUNT_AMOUNT" name="SB_CHILD_VM.DISCOUNT_AMOUNT" type="number" class="custom-input custom-input-xs" min="0" max="100" title="Discount Amount" placeholder="Discount" autocomplete="off" value="0" />
                        </td>
                        <td>
                            <input id="PRODUCT_AMOUNT" name="SB_CHILD_VM.PRODUCT_AMOUNT" class="custom-input custom-input-xs clear" title="Product Amount" placeholder="Amount" readonly />
                        </td>
                        <td>
                            <input id="PRODUCT_WEIGHT" name="SB_CHILD_VM.PRODUCT_WEIGHT" type="text" class="custom-input custom-input-xs clear" title="Product Weight" placeholder="Product Weight" readonly />
                        </td>
                        <td>
                            <input id="REF_SKU" name="SB_CHILD_VM.REF_SKU" type="text" class="custom-input custom-input-xs clear" title="Ref / SKU" placeholder="Ref / SKU" />
                        </td>
                        <td>
                            <input id="LINE_NOTE" name="SB_CHILD_VM.LINE_NOTE" type="text" class="custom-input custom-input-xs clear" title="Line Note" placeholder="Line Note" />
                        </td>
                        <td>
                            <input id="PACKING_NOTE" name="SB_CHILD_VM.PACKING_NOTE" type="text" class="custom-input custom-input-xs" title="Packing Note" placeholder="Packing Note" />
                        </td>
                        <td>
                            <input id="DELIVERY_ADDRESS" name="SB_CHILD_VM.DELIVERY_ADDRESS" class="custom-input custom-input-xs" title="Delivery Address" placeholder="Delivery Address" />
                        </td>
                        <td>
                            <input id="DELIVERY_DATE" name="SB_CHILD_VM.DELIVERY_DATE" type="date" class="custom-input custom-input-xs" title="Delivery Date" placeholder="Delivery Date" />
                        </td>
                        <td>
                            <input id="IS_SAMPLE" name="SB_CHILD_VM.IS_SAMPLE" type="checkbox" class="custom-input custom-input-xs" title="Is Sample" value="false" />
                        </td>
                        <td>
                            <button type="button" onclick="AddNewRow(this);" class="btn btn-xs btn-primary @(Model.SB_MASTER_VM.IS_POSTED ? "d-none" : "")" title="Add new Line"><span class="fas fa-plus-circle"></span></button>
                        </td>
                    </tr>
                </tbody>
                <tbody class="DATA_DETAIL">
                @foreach (var SB_CHILD_VM in Model.SB_CHILD_VM)
                {
                        <tr>
                            <td>
                                <input asp-for="@SB_CHILD_VM.ID" type="hidden" value="0" class="" />
                                <input asp-for="@SB_CHILD_VM.MASTER_ID" type="hidden" class="" />
                                <input asp-for="@SB_CHILD_VM.LINE_NO" type="hidden" class="" />
                                <input asp-for="@SB_CHILD_VM.REF_TRN_LINE_ID" type="hidden" class="" />
                                <input asp-for="@SB_CHILD_VM.PRODUCT_ID" type="hidden" class="" />
                                <input asp-for="@SB_CHILD_VM.MAIN_PRODUCT_ID" type="hidden" class="" />
                                <input asp-for="@SB_CHILD_VM.PACK_ID" type="hidden" class="" />
                                <input asp-for="@SB_CHILD_VM.UNIT_ID" type="hidden" class="" />
                                <input asp-for="@SB_CHILD_VM.DELIVERY_ADDRESS_ID" type="hidden" class="" />
                                <input asp-for="@SB_CHILD_VM.PRODUCT_NAME" type="text" class="custom-input custom-input-xs" title="Product Name" placeholder="Product Name" readonly />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.PRODUCT_DESC" type="text" class="custom-input custom-input-xs" title="Description" placeholder="Product Details" autocomplete="off" />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.UNIT_NAME" type="text" class="custom-input custom-input-xs" title="Unit" placeholder="Unit" readonly />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.PRODUCT_RATE" type="number" class="custom-input custom-input-xs" title="Rate" placeholder="Rate" autocomplete="off" />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.PRODUCT_QTY" type="number" class="custom-input custom-input-xs" title="Quantity" placeholder="Qty" autocomplete="off" />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.VAT_PCT" type="number" class="custom-input custom-input-xs" min="0" max="100" title="VAT %" placeholder="VAT %" autocomplete="off" />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.DISCOUNT_PCT" type="number" class="custom-input custom-input-xs" min="0" max="100" title="Discount %" placeholder="Discount %" autocomplete="off" />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.DISCOUNT_AMOUNT" type="number" class="custom-input custom-input-xs" min="0" max="100" title="Discount Amount" placeholder="Discount" autocomplete="off" />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.PRODUCT_AMOUNT" class="custom-input custom-input-xs" title="Product Amount" placeholder="Amount" readonly />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.PRODUCT_WEIGHT" type="text" class="custom-input custom-input-xs" title="Product Weight" placeholder="Product Weight" readonly />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.REF_SKU" type="text" class="custom-input custom-input-xs" title="Ref / SKU" placeholder="Ref / SKU" />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.LINE_NOTE" type="text" class="custom-input custom-input-xs" title="Line Note" placeholder="Line Note" />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.PACKING_NOTE" type="text" class="custom-input custom-input-xs" title="Packing Note" placeholder="Packing Note" />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.DELIVERY_ADDRESS" class="custom-input custom-input-xs" title="Delivery Address" placeholder="Delivery Address" readonly/>
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.DELIVERY_DATE" type="date" class="custom-input custom-input-xs" title="Delivery Date" placeholder="Delivery Date" />
                            </td>
                            <td>
                                <input asp-for="@SB_CHILD_VM.IS_SAMPLE" type="checkbox" class="custom-input custom-input-xs" title="Is Sample" value="@(SB_CHILD_VM.IS_SAMPLE ? "true" : "false")" />
                            </td>
                            <td>
                                <button type="button" class="remove-row btn btn-xs btn-danger" data-id="0" title="Remove this line"><i class="fa fa-trash"></i></button>
                            </td>
                        </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            <a asp-action="Index" class="btn btn-sm btn-primary"><i class="fa fa-chevron-left"></i> Back</a>
            <button class="btn btn-sm btn-info" type="reset"><i class="fa fa-undo"></i> Reset</button>
            <button type="submit" id="btnSubmit" class="btn btn-sm btn-success mx-1 @(Model.SB_MASTER_VM.IS_POSTED == true  && Model.SB_MASTER_VM.IS_APPROVE == true ? "d-none" : "")" onclick="formSubmitView('DATA_DETAIL');" formaction="@Url.Action("AddUpdate")" title="Apply and save"><i class="fa fa-save"></i> Submit</button>
        </div>
    </div>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/scripts/areas/salesorder/salesbooking.js"></script>
}
