@model IEnumerable<BS.DMO.Models.Application.CLASSIC_MENU>
@{
    ViewData["Title"] = "Classic Menu";
    Layout = "~/Views/Shared/_Layout_Top.cshtml";
}
<div class="card card-success card-outline">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        <a class="btn btn-app" asp-area="Application" asp-controller="ClassicMenu" asp-action="Index">
            <i class="fas fa-home"></i> Home
        </a>
        @if (Model != null && Model.Count() > 0)
        {
            if (@Model.FirstOrDefault().PARENT_NODE != "N")
            {
                <a class="btn btn-app bg-gray" asp-area="Application" asp-controller="ClassicMenu" asp-action="Index" asp-route-prev="@Model.FirstOrDefault().PARENT_NODE">
                    <i class="fas fa-reply"></i> Back
                </a>
            }
        }
        @foreach (var item in Model)
        {
            if (item.CHILD_NODE == "N")
            {
                <a class="btn btn-app @item.MENU_COLOR" asp-area="@item.MENU_AREA" asp-controller="@item.MENU_CONTROLLER" asp-action="@item.MENU_ACTION" title="@item.MENU_NOTE" target="_blank">
                    @if (!string.IsNullOrWhiteSpace(item.PAGE_ID))
                    {
                        <span class="badge bg-gray">@item.PAGE_ID</span>
                    }
                    <i class="@item.MENU_ICON"></i> @item.MENU_NAME
                </a>
            }
            else
            {
                <a class="btn btn-app @item.MENU_COLOR" asp-area="Application" asp-controller="ClassicMenu" asp-action="Index" asp-route-next="@item.MENU_ID">
                    @if (!string.IsNullOrWhiteSpace(item.PAGE_ID))
                    {
                        <span class="badge bg-gray">@item.PAGE_ID</span>
                    }
                    <i class="@item.MENU_ICON"></i> @item.MENU_NAME
                </a>
            }
        }
    </div>
    <!-- /.card-body -->
    <div class="card-footer">
        <p>Total Menu: @Model.Count()</p>
    </div>
</div>