@model IEnumerable<BS.DMO.Models.Setup.ENTITY_VALUE_TEXT>
@{
    ViewData["Title"] = "Entity Value Text";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Find your @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>

    <div class="card-body">
        <table id="example2" class="table table-hover table-sm">
            <thead>
                <tr>
                    <th>Value</th>
                    <th>Value Name</th>
                    <th>Entity ID</th>
                    <th>Description</th>
                    <th>Default</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.VALUE_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.VALUE_NAME)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ENTITY_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ENTITY_DESCRIPTION)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IS_DEFAULT)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" asp-action="Edit" asp-route-id="@item.VALUE_ID"><i class="fa fa-edit"></i> Edit</a>
                            <button type="button" class="btn btn-danger btn-xs delete-confirm" data-url="EntityValueText/Delete/@item.VALUE_ID"><i class="fa fa-trash"></i> Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>