@model IEnumerable<BS.DMO.Models.Accounts.BankLoan.BANK_LOAN_MASTER>
@{
    ViewData["Title"] = "Loan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-primary card-outline">
    <div class="card-header">
        <h3 class="card-title">Find your @ViewData["Title"]</h3>
        <div class="card-tools">
            <a class="btn btn-primary btn-xs" asp-action="Create"><i class="fa fa-plus"></i> Create New</a>
        </div>
    </div>

    <div class="card-body">
        <table class="table table-hover table-xs">
            <thead>
                <tr>
                    <th>Cost Center</th>
                    <th>Trn No</th>
                    <th>Ref</th>
                    <th>Start</th>
                    <th>End</th>
                    <th>Note</th>
                    <th>Loan</th>
                    <th>Rate</th>
                    <th>Total</th>
                    <th>No Of Schedules</th>
                    <th>Due</th>
                    <th>Status</th>
                    <th>#</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BRANCH_COST_CENTER_ID)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TRN_NO)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.REF_TRN_ID)
                        </td>
                        <td>
                            @item.START_DATE.ToString(item.DATE_DISPLAY_FORMAT)
                        </td>
                        <td>
                            @item.END_DATE.ToString(item.DATE_DISPLAY_FORMAT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TRN_NOTE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.LOAN_AMOUNT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.INTEREST_RATE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TOTAL_AMOUNT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NO_OF_SCHEDULE)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DUE_AMOUNT)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IS_ACTIVE)
                        </td>
                        <td>
                            <a class="btn btn-primary btn-xs" asp-action="Edit" asp-route-id="@item.ID"><i class="fa fa-edit"></i> Edit</a>
                            <button type="button" class="btn btn-danger btn-xs delete-confirm" data-url="/Company/Business/Delete/@item.ID"><i class="fa fa-trash"></i> Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>